{% extends "global/Base.html" %}
{% load staticfiles otree_tags %}

{% block title %}
    Survey
{% endblock %}

{% block content %}
    <div class="panel panel-default">
        <div class="panel-body">
            <div>
                <p>
                    On a scale of 1-7, with 1 being sad and 7 being happy, how do you feel right now?
                </p>
                {% formfield player.affct1_scl with label="" %}
                <p>
                    On a scale of 1-7, with 1 being tired and 7 being alert, how do you feel right now?
                </p>
                {% formfield player.affct2_scl with label="" %}
            </div>
        </div>
    </div>
    <p><strong>Please click "Next" to continue</strong></p>
    {% next_button %}
{% endblock %}