{% extends "global/Base.html" %}
{% load staticfiles otree_tags %}

{% block title %}
{% endblock %}

{% block content %}
    <div class="panel panel-default">
        <div class="panel-body">
            <p>
                How many tokens do you believe the other participant put into the shared fund?"
            </p>
            {% if player.id_in_group == 1 %}
                <div class="container">
                    <div class="row">
                        <div class="col-md-12">
                            {% formfield player.guess with label="" %}
                        </div>
                    </div>
                </div>
            {% elif player.id_in_group == 2 %}
                <div class="container">
                    <div class="row">
                        <div class="col-md-12">
                            {% formfield player.guess with label="" %}
                        </div>
                    </div>
                </div>
            {% elif player.id_in_group == 3 %}
                <div class="container">
                    <div class="row">
                        <div class="col-md-12">
                            {% formfield player.guess with label="" %}
                        </div>
                    </div>
                </div>
            {% endif %}
        </div>
    </div>
    <p><strong>Please click "Next" to continue</strong></p>
    {% next_button %}



{% endblock %}
