{% extends "global/Base.html" %}
{% load staticfiles otree_tags %}

{% block title %}
{% endblock %}

{% block content %}

    <div class="panel panel-default">
        <div class="panel-body">
            <p>
                The other participant has {{ raven_points }} gift cards. How many of their gift cards do you choose to destroy?
            </p>
            <p>
                {% formfield player.p_destroy with label="" %}
            </p>
        </div>
    </div>
<p><strong>Please click "Next" to continue</strong></p>
{% next_button %}
{% endblock %}
