{% extends "global/Base.html" %}
{% load staticfiles otree_tags %}

{% block title %}
{% endblock %}

{% block content %}

    <div class="panel panel-default">
        <div class="panel-body">
            <p>
                You will now make a choice among a different set of 7 coins. All coins again have an equal chance of
                landing on heads or on tails. The computer will toss another virtual coin (different from last time).
            </p>
            <p>
                Your earnings from this part of the experiment depend on your choice and the result of the coin toss.
                Therefore, it is in your interest to carefully pick the option you truly prefer.
            </p>
            <p>
                These are the 7 different coins from which you will choose one:
            </p>
            <ul>
                <li>Coin 1: KSH 0 if heads and KSH 620 if tails</li>
                <li>Coin 2: KSH 70 if heads and KSH 550 if tails</li>
                <li>Coin 3: KSH 140 if heads and KSH 480 if tails</li>
                <li>Coin 4: KSH 120 if heads and KSH 410 if tails</li>
                <li>Coin 5: KSH 275 if heads and KSH 340 if tails</li>
                <li>Coin 6: KSH 310 if heads and KSH 310 if tails</li>
                <li>Coin 7: KSH 340 if heads and KSH 275 if tails</li>
            </ul>
        </div>
    </div>
    <p><strong>Please click "Next" to continue</strong></p>
    {% next_button %}
{% endblock %}
