{% extends "global/Base.html" %}
{% load staticfiles otree_tags %}

{% block title %}
{% endblock %}

{% block content %}

    <div class="panel panel-default">
        <div class="panel-body">
            {% if rank == "low" %}
                <p>
                    You and another participant are now paired. You both worked on the slider task and each earned KSH 350,
                    based on your performance. Together, the two of you have earned KSH 700 You will now decide how much of the KSH 700 you
                    suggest for yourself and how much you suggest for the other participant.
                </p>
                <p>
                    You are free to choose any amount of KSH between 0 and 700.
                </p>
            {% elif rank == "high" %}
                <p>
                    You and another participant are now paired. You both worked on the slider task and each earned KSH 700,
                    based on your performance. Together, the two of you have earned KSH 1400.
                    You will now decide how much of the KSH 1400 you suggest for yourself and how much you suggest for the other participant.
                </p>
                </p>
                <p>
                     You are free to choose any amount of KSH between 0 and 1400.
                </p>
            {% endif %}

        </div>
    </div>
    <p><strong>Please click "Next" to continue</strong></p>
    {% next_button %}
{% endblock %}
